{# templates/upload/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Subir Archivo PDF - VisionOCR{% endblock %}

{% block stylesheets %}
<style>
  .progress-container {
    margin-top: 20%; /* Ajustar este valor según sea necesario */
  }
  .spinner-container {
    display: none;
    margin-top: 20px;
  }
  .dotted-box {
    border: 2px dashed #ccc;
    padding: 10px;
    margin-top: 10px;
    display: none;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div class="d-flex justify-content-between align-items-center">
        <img src="{{ asset('images/logo_aif_color.png') }}" alt="Logo AIF" class="me-2" style="height: 40px;">
        <h3 class="float-md-start mb-0">VisiónOCR</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" href="{{ path('home_page') }}">Inicio</a>
            <a class="nav-link fw-bold py-1 px-0" href="{{ path('upload_page') }}">Subir PDF</a>
            <a class="nav-link fw-bold py-1 px-0" href="{{ path('como_funciona') }}">¿Cómo funciona?</a>
            <a class="nav-link fw-bold py-1 px-0" href="{{ path('contacto') }}">Contacto</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>Subí tu PDF.</h1>
      <p class="lead">Subí tu PDF y la aplicación hará el reconocimiento de texto para que puedas luego trabajar con tu editor favorito.</p>
      <p class="text-warning">El tamaño máximo de archivo admitido es de 15 MB.</p>
      
      <!-- Formulario para subir el archivo y seleccionar opciones -->
      <form id="uploadForm" method="post" enctype="multipart/form-data">
        <div class="d-flex justify-content-center">
          <!-- Botón para abrir la ventana de selección de archivos -->
          <button type="button" id="selectFileButton" class="btn btn-primary me-2">Seleccionar PDF</button>
          
          <!-- Botón para subir el PDF -->
          <button type="submit" id="uploadFileButton" class="btn btn-success" style="display: none;">Subir PDF</button>
        </div>
        
        <!-- Input de tipo file oculto -->
        <input type="file" id="fileInput" name="file" accept="application/pdf" style="display: none;">
        
        <!-- Mostrar el nombre del archivo seleccionado en un recuadro punteado -->
        <div id="fileName" class="dotted-box lead"></div>
        
        <!-- Opciones adicionales -->
        <div class="mt-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rotatePages" name="rotatePages" title="Rotar las páginas automáticamente si es necesario">
            <label class="form-check-label" for="rotatePages">Rotar páginas automáticamente</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="deskew" name="deskew" title="Corregir la inclinación de las páginas">
            <label class="form-check-label" for="deskew">Corregir inclinación</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cleanFinal" name="cleanFinal" title="Limpiar el archivo procesado eliminando artefactos visuales">
            <label class="form-check-label" for="cleanFinal">Limpiar (Eliminar manchas)</label>
          </div>
        </div>
      </form>
      
      <!-- Contenedor del spinner -->
      <div id="spinner-container" class="spinner-container">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
        <p>Procesando...</p>
      </div>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Herramienta desarrollada por la <a href="https://aif.gob.ar/" class="text-white">Agencia de Innovación de Tierra del Fuego AIAS</a></p>
    </footer>
  </div>

  <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    const selectFileButton = document.getElementById('selectFileButton');
    const fileInput = document.getElementById('fileInput');
    const uploadFileButton = document.getElementById('uploadFileButton');
    const fileName = document.getElementById('fileName');
    const spinnerContainer = document.getElementById('spinner-container');
    const MAX_FILE_SIZE = 15 * 1024 * 1024; // 15 MB

    // Enlazar el botón con el input de tipo file
    selectFileButton.addEventListener('click', () => {
        fileInput.click();
    });

    // Mostrar el nombre del archivo y el botón de subir cuando se selecciona un archivo
    fileInput.addEventListener('change', (event) => {
        if (event.target.files.length > 0) {
            const file = event.target.files[0];
            if (file.size > MAX_FILE_SIZE) {
                alert('El archivo seleccionado excede el tamaño máximo permitido de 15 MB.');
                fileInput.value = ''; // Limpiar el input
                fileName.style.display = 'none';
                uploadFileButton.style.display = 'none';
            } else {
                fileName.textContent = `Archivo seleccionado: ${file.name}`;
                fileName.style.display = 'block';
                uploadFileButton.style.display = 'block';
            }
        }
    });

    // Manejar el evento de subir archivo
    document.getElementById('uploadForm').addEventListener('submit', (event) => {
        event.preventDefault();
        const file = fileInput.files[0];
        if (file.size > MAX_FILE_SIZE) {
            alert('El archivo seleccionado excede el tamaño máximo permitido de 15 MB.');
            return;
        }
        const formData = new FormData(event.target);

        // Mostrar el spinner
        spinnerContainer.style.display = 'block';

        fetch('{{ path('upload_pdf') }}', {
          method: 'POST',
          body: formData
        })
        .then(response => {
          if (response.ok) {
            return response.blob();
          } else {
            throw new Error('Error en el procesamiento OCR');
          }
        })
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.style.display = 'none';
          a.href = url;
          a.download = file.name.replace('.pdf', '_OCR.pdf');
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
        })
        .catch(error => {
          console.error('Error:', error);
        })
        .finally(() => {
          // Ocultar el spinner
          spinnerContainer.style.display = 'none';
          // Refrescar la página
          window.location.reload();
        });
    });
  </script>
</body>
{% endblock %}